@import "tailwindcss";

.home-background {
  background:
    radial-gradient(circle, color-mix(in srgb, #a78bfa 35%, transparent) 70%, #a78bfa 100%);
  opacity: 0.35;
  background-size: 100% 100%;
  mask-image: 
    linear-gradient(to right, #fff 1px, transparent 0),
    linear-gradient(to bottom, #fff 1px, transparent 0);
  mask-position: calc(mod(100vw, 3rem) / 2) 0;
  mask-repeat: repeat;
  mask-size: 3rem 3rem;

  
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 18rem;
}

@media(min-width: 640px) {
  .section {
    width: 36rem;
  }
}

@media(min-width: 768px) {
  .section {
    width: 45rem;
  }
}

@media(min-width: 1024px) {
  .section {
    width: 45rem;
  }
}

@media(min-width: 1280px) {
  .section {
    width: 45rem;
  }
}

@media(min-width: 1536px) {
  .section {
    width: 45rem;
  }
}