@import "tailwindcss";

.grid-background {
    background: radial-gradient(circle,color-mix(in srgb, #a78bfa 35%,transparent) 70%, #a78bfa 100%);
    background-position-y: -200px;
    background-size: 100% 100%;

    mask-image: linear-gradient(90deg,#fff 1px,transparent 0),linear-gradient(180deg,#fff 1px,transparent 0);
    mask-position: calc(mod(100vw,3rem)/2) 0;
    mask-repeat: repeat;
    mask-size: 3rem 3rem;

    opacity: 0.35;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 18rem;
}

@media(min-width: 640px) {
  .section {
    width: 36rem;
  }
}

@media(min-width: 768px) {
  .section {
    width: 45rem;
  }
}

@media(min-width: 1024px) {
  .section {
    width: 45rem;
  }
}

@media(min-width: 1280px) {
  .section {
    width: 45rem;
  }
}

@media(min-width: 1536px) {
  .section {
    width: 45rem;
  }
}